
<div class="fancy">
<nav class="navbar navbar-light bg-faded">

  <a class="navbar-brand">Firehose Project Quiz #1 - Andre Jensen</a>
</nav>
</div> <!-- div class fancy -->


<div class="container">

<h1>Howard Schutlz</h1>
<img class="howard" src="http://media1.popsugar-assets.com/files/2011/10/42/4/192/1922441/d0ca1e016a95f4a2_127978341/i/Howard-Schultz-Starbucks-CEO.jpg" alt="Howard Schultz - Founder and Former CEO of Starbucks">
<h2>The Man who changed coffee</h2>

<div class="TimeLine">

<p class="subHeader">Here is a time line of Howard Schultz's Life</p>

 <ul>
   <li><span class="bold">1953 - </span> Born in Brooklyn, New York.</li>
   <li><span class="bold">1971 -</span> Graduated from Canarsie High School and received an atheletic scholarship to attend Northern Michigan University.</li>

   <li><span class="bold">1975 -</span> Graduated and received his Bachelor's of Arts in Communications frm Northern Michigan University. Afterwards he started working as a Sales Representative for Xerox Corporation</li>

   <li><span class ="bold">1979 -</span> Became General Manager  for Swedish drip coffee maker manufacturer, Hammarplast.</li>

   <li><span class="bold">1981 -</span> Made his first visit to Starbucks, then a client of Hammarplast.</li>

   <li><span class="bold">1982 -</span> Joined Starbucks as their Director of Marketing.</li>

   <li><span class="bold">1985 -</span> Decided to Leave Starbucks after disagreements with the company owners. On a buying trip for Starbucks to Milan, Schultz noted coffee shops existed on almost every street corner. These coffee shops often served as public gathering places and social hotspots. He persuaded the owners to offer cafe beverages but after a successful pilot of the cafe concept, the owners refused to roll it out company-wide. The owners did not wish to get involved in the restaraunt business. Schultz left the company due to this disagreement.</li>

   <li><span class="bold">1986 -</span> Raised all of the capital he needed from a variety of sources. He opened his first store 'II Giornale'.</li>

   <li><span class="bold">1988 -</span> The Original Starbucks management sold Schultz the Starbucks retail unit for $3.8 million.</li>

   <li><span class="bold">1992 -</span> Starbucks made its initial public offering on the NASDAQ stock exchange under the ticker 'SBUX'.</li>

   <li><span class="bold">1997 -</span> authored the book <span style="font-style:italic;">Pour Your Heart Into It: How Starbucks Built a Company One Cup at a Time</span>.</li>

   <li><span class="bold">2000 -</span> Took a hiatus as the CEO of Starbucks.</li>

   <li><span class="bold">2008 -</span> Returned to Starbucks as Chairman and CEO.</li>

   <li>2016 - Steps down as CEO of Starbucks</li>
  </ul>

</div> <!-- Div class container -->
