
<div class="fancy">
<nav class="navbar navbar-light bg-faded">

  <a class="navbar-brand">Firehose Project Quiz #1 - Andre Jensen</a>
</nav>
</div> <!-- div class fancy -->


<div class="container-fluid">
<div class="col-10 offset-1">
<h1 style="color:rgb(0,153,51);">Howard Schutlz</h1>
<img class="howard" src="http://media1.popsugar-assets.com/files/2011/10/42/4/192/1922441/d0ca1e016a95f4a2_127978341/i/Howard-Schultz-Starbucks-CEO.jpg" alt="Howard Schultz - Founder and Former CEO of Starbucks">
<h2 style="color:rgb(0,153,51)";>The Man who changed coffee</h2>
<div class="TimeLine">

<p class="subHeader">Here is a time line of Howard Schultz's Life</p>

 <ul>
   <li>1953 - Born in Brooklyn, New York.</li>
   <li>1971 Graduated from Canarsie High School and received an atheletic scholarship to attend Northern Michigan University.</li>

   <li>1975 - Graduated and received his Bachelor's of Arts in Communications frm Northern Michigan University. Afterwards he started working as a Sales Representative for Xerox Corporation</li>

   <li>1979 - Became General Manager for Swedish drip coffee maker manufacturer, Hammarplast.</li>

   <li>1981 - Made his first visit to Starbucks, then a client of Hammarplast.</li>

   <li>1982 - Joined Starbucks as their Director of Marketing.</li>

   <li>1985 - Decided to Leave Starbucks after disagreements with the company owners. On a buying trip for Starbucks to Milan, Schultz noted coffee shops existed on almost every street corner. These coffee shops often served as public gathering places and social hotspots. He persuaded the owners to offer cafe beverages but after a successful pilot of the cafe concept, the owners refused to roll it out company-wide. The owners did not wish to get involved in the restaraunt business. Schultz left the company due to this disagreement.</li>

   <li>1986 - Raised all of the capital he needed from a variety of sources. He opened his first store 'II Giornale'.</li>

   <li>1988 - The Original Starbucks management sold Schultz the Starbucks retail unit for $3.8 million.</li>

   <li>1992 - Starbucks made its initial public offering on the NASDAQ stock exchange under the ticker 'SBUX'.</li>

   <li>1997 - authored the book <span style="font-style:italic;">Pour Your Heart Into It: How Starbucks Built a Company One Cup at a Time</span>.</li>

   <li>2000 - Took a hiatus as the CEO of Starbucks.</li>

   <li>2008 - Returned to Starbucks as Chairman and CEO.</li>

   <li>2016 - Steps down as CEO of Starbucks</li>
  </ul>
</div> <!-- Div class col-10 offset-1-->
</div> <!-- Div class container -->
